*{
	margin:0px;
	padding:0px;
}

body{
	font-family:  "Times New Roman", Times, serif;
	background-color:black;
}
.all{
	max-height:1105px;
	height:1105px;
}

.header{
	position:relative;
	height:255px;
}

.picture1{
	position:absolute;
}

.picture2{
	position:absolute;
	margin-top:80px;
	margin-left:69px;
}

.menu{
	position:absolute;
	margin-left:69px;
	margin-top:-60px;
	z-index:2;
}

.menu:after{
	content: "";
	display: table;
	clear: both;
	height: 0;
	visibility: hidden;	
}

.picture{
	float:left;
	margin-left:6px;
}

.content__align{
  float:left;
  margin-left:10px;
}

.text{
	color:white;
	margin-left:50px;
	margin-top:5px;
}

.content__main{
	margin-top:114px;
	margin-left:69px;	
	padding-bottom:70px;
	border-bottom:1px dotted #595959;
}

.left__half{
	float:left;
	background-color:#1F1F1F;
}

.left__half .content{
	color:#595959;
	width:235px;
	margin-top:30px;
	margin-left:20px;
	margin-right:20px;	
	border-top:2px solid #707070;
	border-bottom:1px solid #707070;
}

.content__1{
	margin-top:28px;
	margin-left:10px;
	padding-bottom:66px;
	font-size:13px;
	line-height:1.38;
}

ul{
	margin-left:42px;
	list-style-type: none;
	color:#595959;
	margin-bottom:35px;
	margin-top:28px;
}

li{
	text-decoration:underline;
	margin-top:5px;
	position:relative;
	padding-left:10px;
	font-size:13px;
	line-height:1.38;
}

li:before{
  position:absolute;
  border-left: 3px solid #797782;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  height:0;
  width:0;
  margin-top:5px;
  left:0%;
  content: "";
}

.right__half{
	float:left;
	width:394px;
	margin-left:40px;
}

.right__half .block .content{
	margin-left:14px;
	margin-right:14px;
	margin-top:20px;
	padding-bottom:17px;
	border-bottom:1px dotted #595959;
}

.right__text__size{
	font-size:11px;
	line-height:1.36;
	color:#595959;
	margin-top:11px;
}

.launch__website{
	font-size:12px;
	background-image: url(../images/arr_1.png);
	background-repeat: no-repeat;
	padding-left:18px;
	color:white;
	margin-top:15px;
	margin-right:14px;
	margin-left:14px;
	display:block;
	text-decoration:none;
}

.block{
	margin-top:40px;
}

.content__main:after{
	content: "";
    display: table;
    clear: both;
	height: 0;
    visibility: hidden;			
}

.footer{;
	color:#595959;
	font-size: 10px;
	line-height: 1.5;
	margin-left:77px;	
	margin-top:24px;	
}